.humanPage{
    display: flex;
    justify-content: space-between;
    
}
.maininfo{
    margin-top: 30px;
    display: inline;
    background-color: #ede9e6;
    margin-left: 7vw;
    margin-right: 7vw;
    padding: 40px 40px 40px 40px;
    border-color: #ede9e6;
    border-style: solid;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}
.items{
    display: flex;
    justify-content: center;
}
.demoinfo{
    margin-top: 30px; 
    background-color: #ede9e6;
    margin-left: 2vw;
    margin-right: 1vw;
    padding: 20px 20px 20px 20px;
    border-color: #ede9e6;
    border-style: solid;
    border-radius: 20px;
    height: max-content;
}
.birth{

  background-color: #f5f2ef;
  border-style:  solid;
  border-radius: 10px;
  border-color: #f5f2ef;
  padding-left: 15px; 
}