@tailwind base;
@tailwind components;
@tailwind utilities;



@import 'react-redux-toastr/src/styles/index';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: #F5F2EF;
  &:focus,
  &:focus-visible{
      @apply shadow-md;
      outline: none;
      border: none;
    }
}

a{
  color: inherit;
  text-decoration: none;
}

*{
  box-sizing: border-box;
}


.redux-toastr{
  .toastr{
    @apply shadow;
    background-color: #272532;

    &.rrt-success{
      background-color: #56db8b;
    }
    &.rrt-warning{
      background-color: #eaa84c;
    }
    &.rrt-info{
      background-color: #4b85e7;
    }
    &.rrt-error{
      background-color: #e94d4d;
    }
  }
}

