.search_top {
    @apply relative w-full;

    > label {
        @apply block relative;


        input {
            @apply rounded-lg py-2 px-4 w-full block outline-0 text-black shadow bg-gray-800 ;
            transition: box-shadow 0.4s ease;

            &::placeholder{
                color: #5c5a69;
            }

            &:focus{
                @apply shadow-md;
            }
           
            
                
            
        }

        img {
            @apply absolute right-4 top-2.5 opacity-90;
            max-width: 18px;
        }
    }
}

.result {
    @apply shadow-block rounded-lg animate-scaleIn flex flex-wrap absolute w-full z-20 p-5 mt-3 bg-white;
    left:0;

    > div{
        @apply mr-4 last:mr-0;
        width: 45%;
    }
}