.wrapper{
    @apply relative inline-flex;


    .form{
        @apply shadow-block animate-scaleIn p-4 absolute right-2 w-60 z-20 rounded-lg;
        top: calc(100% + 1.4rem);
        background-color: #ffffff;


        .register{
            @apply text-gray-400 opacity-40 block text-center w-full;
        }
    }
}