.modal{
    @apply relative z-50;

    .overlay{
        @apply fixed inset-0 bg-black/30;
    }

    .wrapper{
        @apply fixed inset-0 flex items-center justify-center p-4;

        > div {
            @apply flex min-h-full items-center justify-center;

            .window{
                @apply mx-auto shadow-block p-6 relative bg-gray-900 rounded-2xl text-white;

                width: 1000px;
                height: 610px;
            }
        }
    }
}


.uploadScreen{
    @apply flex w-full h-full absolute left-0 top-0;
}