.input{
    @apply relative block mb-6;


    > input{
        @apply rounded-lg py-2 px-4 w-full block outline-0 text-black;
        background-color: #c1c0c9;
        transition: box-shadow 0.4s ease;
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.03);

        &::placeholder{
            color: #fa0000;
        }

        &:focus{
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
        }
    }
}

.error{
    @apply absolute -bottom-5 left-0 w-full text-primary;
    font-size: 0.8rem;
}