.App{
    /* background-color: #C0C0C0; */
  
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.new1{
    display: flex;
    /* background-color: #FFFFE0; */
    justify-content: baseline;
    width:50vw;
    height: max-content;
    /* border-width: 2px;
    border-style: solid;
    border-color: #808080 ; */
    margin-top: 5vh;
    border-radius: 25px;
    padding: 15px 15px 15px 15px;
}
.newinp{
    padding-left: 20px;
}
.find{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: #dcdcdc; */
    align-content: center;
    width:50vw;
    height: max-content;
    border-width: 2px;
    /* border-style: solid; */
    border-color: #808080 ;
    margin-top: 5vh;
    border-radius: 25px;
    padding: 15px 15px 15px 15px;
}
.searchinp{
    border-width: 2px;
    border-style: solid;
    border-color: #808080 ;
    border-radius: 25px;
    font-size: 15px;padding-top: 10px; padding-left: 20px; padding-bottom: 10px;
    padding-right: 0px;
}
.find1{
    display: flex;

}

img{
    border-radius: 20px;
}