.header{
    display: flex;
    justify-content: center;
    height: 5vh;
    background-color: #f5f5f5;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
    border-radius: 10px;
}
.found{
    margin-left: 25px;
    margin-top: 3px;
    border-radius: 10px;
    padding: 4px 4px 4px 4px;
}
.found:hover{
    background-color: #0000ff;
    color: white;
}
.notfound{
    margin-left: 25px;
    margin-top: 3px;
    border-radius: 10px;
    padding: 4px 4px 4px 4px;

}
.notfound:hover{
    background-color: #0000ff;
    color: white;
}
.sign{
    margin-left: 25px;
    margin-top: 3px;
    border-radius: 10px;
    padding: 4px 4px 4px 4px;

}
.sign:hover{
    background-color: #0000ff;
    color: white;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: white;
}