.mainCont{
    height: 150px;
    width: 450px;
    display: flex;
    align-items: center;
}
.window{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.allItems{
    height: 100%;
    display: flex;
}
.arrow{
    cursor: pointer;
}